@import "tailwindcss";

@theme {
    --color-bright-green: hsl(75, 94%, 57%);
    --color-personal-grey-700: hsl(0, 0%, 20%);
    --color-personal-grey-800: hsl(0, 0%, 12%);
    --color-personal-grey-900: hsl(0, 0%, 8%);
    --animate-fade-in: fade-in ease-in-out;
    --animate-rotate: rotate 0.5s ease-in-out;

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        25%, 75% {
            transform: rotate(1deg);
        }

        50%, 100% {
            transform: rotate(-1deg);
        }
    }
}